In [13]:
import numpy as np
import pandas as pd
new_data = pd.read_csv("./new_data.csv", dtype = {'postcode':str})
new_data.head()

,rec_id_x,ssn,age_at_consultation,medicare_number,marital_status,height,weight,bmi,blood_pressure,cholesterol_level,...,middle_name,last_name,gender,birth_date,street_address,suburb,postcode,state,phone,email
0,rec-38255,a119167529,9,1600 34634 2 3,NaN,136,52,28,69,143,...,jackson,rothstein,m,16/6/2005,21 drummond crescent glenrowan hmes,perth,7300,tas,03 6131 4813,nmbhiabbfr@yahoo.com
1,rec-96960,h148559060,60,8787 78232 1 2,married,174,65,21,77,203,...,m,hinnant,f,9/9/1955,64 ocean street pond house,woollahra,2025,nsw,NaN,james44@yahoo.com
2,rec-89846,i182575302,15,8938 59176 1 2,NaN,165,88,32,78,116,...,juan,whitfield,f,10/12/2005,4 surf street greysands,flynns beach,2444,nsw,02 7021 1718,michael49@mail.com.au
3,rec-85752,e141244372,13,2655 78596 2 2,NaN,148,68,31,82,186,...,lawrence,roos,f,15/10/2003,389 barkly street flt 3,elwood,3184,vic,03 9318 7858,NaN
4,rec-82035,b165896593,49,3520 26642 2 2,married-de-facto,185,-99,40,80,231,...,earl,galyean,f,2/3/1965,25 princes highway conjola mountain,conjola,2539,nsw,02 2894 1600,galyean1@hotmail.com

In [22]:
print(new_data.gender)
sw = [x for x in new_data.gender if x == "m"]
print(len(sw)) # 方法一

0        m
1        f
2        f
3        f
4        f
        ..
15986    f
15987    m
15988    f
15989    m
15990    f
Name: gender, Length: 15991, dtype: object
5675

In [2]:
num_missing = new_data.isna().sum()
# print(num_missing)
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15991 entries, 0 to 15990
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rec_id_x                15991 non-null  object
 1   ssn                     15991 non-null  object
 2   age_at_consultation     15991 non-null  int64
 3   medicare_number         15991 non-null  object
 4   marital_status          13919 non-null  object
 5   height                  15991 non-null  int64
 6   weight                  15991 non-null  int64
 7   bmi                     15991 non-null  int64
 8   blood_pressure          15991 non-null  int64
 9   cholesterol_level       15991 non-null  int64
 10  smoking_status          15991 non-null  int64
 11  clinical_notes          15991 non-null  object
 12  consultation_timestamp  15991 non-null  object
 13  rec_id_y                15991 non-null  object
 14  current_age             15991 non-null  int64
 15  education               15991 non-null  object
 16  occupation              14645 non-null  object
 17  salary                  13601 non-null  float64
 18  credit_card_number      14645 non-null  object
 19  years_of_experience     15991 non-null  int64
 20  employment_timestamp    15991 non-null  object
 21  first_name              15991 non-null  object
 22  middle_name             14361 non-null  object
 23  last_name               15991 non-null  object
 24  gender                  15991 non-null  object
 25  birth_date              15991 non-null  object
 26  street_address          15988 non-null  object
 27  suburb                  15978 non-null  object
 28  postcode                15545 non-null  float64
 29  state                   15978 non-null  object
 30  phone                   13771 non-null  object
 31  email                   13956 non-null  object
dtypes: float64(2), int64(9), object(21)
memory usage: 3.9+ MB

In [3]:
num_missing = new_data.isna().sum()
print(num_missing)

rec_id_x                     0
ssn                          0
age_at_consultation          0
medicare_number              0
marital_status            2072
height                       0
weight                       0
bmi                          0
blood_pressure               0
cholesterol_level            0
smoking_status               0
clinical_notes               0
consultation_timestamp       0
rec_id_y                     0
current_age                  0
education                    0
occupation                1346
salary                    2390
credit_card_number        1346
years_of_experience          0
employment_timestamp         0
first_name                   0
middle_name               1630
last_name                    0
gender                       0
birth_date                   0
street_address               3
suburb                      13
postcode                   446
state                       13
phone                     2220
email                     2035
dtype: int64

In [4]:
# Q3.1

c1 = new_data.marital_status
c2 = new_data.occupation
c3 = new_data.salary
c4 = new_data.credit_card_number
c5 = new_data.middle_name
c6 = new_data.phone
c7 = new_data.email

j = 0
for i in range (0, 15991):
    if pd.isna(c2[i])== True and pd.isna(c4[i]) == True and pd.isna(c6[i]) == True:
        j += 1
print(j)

212

In [5]:
list_output = [198,1346,132,212,196/
               198,23,33,44/
               132,212,196/
               23,26/
               56/
               198,11,28,30/ 
               132,212,196/
               16,20/
               47/
               11,28,30/
               22,24/
               51/
               16,20/
               47/
               41]
print(len(list_output))

21

In [6]:
list_output = [198,1346,132,212,196,198,23,33,44,132,212,196,23,26,56,198,11,28,30,132,212,196,16,20,47,11,28,30,22,24,51,16,20,47,41]
list_output.sort(reverse = True)
print(list_output)

[1346, 212, 212, 212, 198, 198, 198, 196, 196, 196, 132, 132, 132, 56, 51, 47, 47, 44, 41, 33, 30, 30, 28, 28, 26, 24, 23, 23, 22, 20, 20, 16, 16, 11, 11]

In [7]:
# A Python program to print all
# combinations of given length
from itertools import combinations
 
# Get all combinations of [1, 2, 3, 4, 5, 6, 7]
# and length 3
comb = combinations([1, 2, 3, 4, 5, 6, 7], 3)
 
# Print the obtained combinations
a =[]
for i in list(comb):
    print (i)
    a.append(i)
print(len(a))

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 2, 6)
(1, 2, 7)
(1, 3, 4)
(1, 3, 5)
(1, 3, 6)
(1, 3, 7)
(1, 4, 5)
(1, 4, 6)
(1, 4, 7)
(1, 5, 6)
(1, 5, 7)
(1, 6, 7)
(2, 3, 4)
(2, 3, 5)
(2, 3, 6)
(2, 3, 7)
(2, 4, 5)
(2, 4, 6)
(2, 4, 7)
(2, 5, 6)
(2, 5, 7)
(2, 6, 7)
(3, 4, 5)
(3, 4, 6)
(3, 4, 7)
(3, 5, 6)
(3, 5, 7)
(3, 6, 7)
(4, 5, 6)
(4, 5, 7)
(4, 6, 7)
(5, 6, 7)
35

In [8]:
# Q3.3
# 体重大于0的有 14402(1589)
# 身高大于0的有 15991
# BMI大于0的有
c = len([i for i in new_data.weight if i < 0])
print(c)
# 薪水小于0 9493
s = len([i for i in new_data.salary if i > 0])
print(s)

1589
9493

In [16]:
# BMI四舍五入不准
print(np.ceil(new_data.bmi[7] * (new_data.height[7]/100)**2))
print(new_data.bmi[7] * (new_data.height[7]/100)**2)
print(np.around(new_data.weight[7]))

131.0
130.67999999999998
132

In [17]:
# 谨慎使用
pd.options.mode.chained_assignment = None

for i in range (len(new_data.weight)):
    if new_data.weight[i] < 0:
        new_data.weight[i] = np.ceil(new_data.bmi[i] * (new_data.height[i]/100)**2)

In [18]:
# 检查发现没有负值的weight了
c = len([i for i in new_data.weight if i < 0])
print(c)

0

In [19]:
new_data.to_csv("final_data.csv", index = False)