In [16]:
#Q4
import numpy as np
import pandas as pd
final_data = pd.read_csv("./final_data.csv", dtype = {'postcode':str})
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15991 entries, 0 to 15990
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rec_id_x                15991 non-null  object
 1   ssn                     15991 non-null  object
 2   age_at_consultation     15991 non-null  int64
 3   medicare_number         15991 non-null  object
 4   marital_status          13919 non-null  object
 5   height                  15991 non-null  int64
 6   weight                  15991 non-null  int64
 7   bmi                     15991 non-null  int64
 8   blood_pressure          15991 non-null  int64
 9   cholesterol_level       15991 non-null  int64
 10  smoking_status          15991 non-null  int64
 11  clinical_notes          15991 non-null  object
 12  consultation_timestamp  15991 non-null  object
 13  rec_id_y                15991 non-null  object
 14  current_age             15991 non-null  int64
 15  education               15991 non-null  object
 16  occupation              14645 non-null  object
 17  salary                  13601 non-null  float64
 18  credit_card_number      14645 non-null  object
 19  years_of_experience     15991 non-null  int64
 20  employment_timestamp    15991 non-null  object
 21  first_name              15991 non-null  object
 22  middle_name             14361 non-null  object
 23  last_name               15991 non-null  object
 24  gender                  15991 non-null  object
 25  birth_date              15991 non-null  object
 26  street_address          15988 non-null  object
 27  suburb                  15978 non-null  object
 28  postcode                15545 non-null  object
 29  state                   15978 non-null  object
 30  phone                   13771 non-null  object
 31  email                   13956 non-null  object
dtypes: float64(1), int64(9), object(22)
memory usage: 3.9+ MB

In [17]:
# Q4.1 工资有负数
print(final_data.postcode[21])

0810

In [3]:
# Q4.2
edu_unique = np.unique(final_data.education)
print(edu_unique)
# 小学学历 'pre-school','primary-school'
# 高中学历 'secondary-school'，'senior-secondary-school'
# TAFE学历 'certificate'，'diploma'
# 大学学历 'bachelor-degree','masters-degree','doctoral-degree'

['advance-diploma' 'bachelor-degree' 'certificate-i' 'certificate-ii'
 'certificate-iii' 'certificate-iv' 'diploma' 'doctoral-degree'
 'graduate-certificate' 'graduate-diploma' 'masters-degree' 'pre-school'
 'primary-school' 'secondary-school' 'senior-secondary-school']

In [4]:
# Q4.2 胆固醇超过200
x_unique = np.unique(final_data.cholesterol_level)
print(x_unique)

[  0   3   5  10  11  12  13  14  16  17  18  19  20  21  23  24  25  27
  28  29  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46
  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64
  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82
  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172
 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190
 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208
 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226
 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244
 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298
 299 300 301 302 303 304 305 306 307 309 311 312 313 314 315 316 319 320
 321 322 324 325 326 329 333 335 336 340 341 342 343 345 347 349 352 355]

In [5]:
# Q4.3 medicare_number 侵犯隐私
# Q4.2 不用code是三位数，au post checker

In [18]:
# 谨慎使用
pd.options.mode.chained_assignment = None

for i in range (len(final_data.ssn)):
        final_data.medicare_number[i] = np.nan

In [19]:
print(final_data.medicare_number)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15986    NaN
15987    NaN
15988    NaN
15989    NaN
15990    NaN
Name: medicare_number, Length: 15991, dtype: object

In [8]:
print(final_data.salary[0])

-9999.0

In [20]:
# 谨慎使用
pd.options.mode.chained_assignment = None

for i in range (len(final_data.ssn)):
    if final_data.salary[i] < 0:
        final_data.salary[i] = np.nan
        
print(final_data.salary)

0             NaN
1             NaN
2             NaN
3             NaN
4        181859.0
           ...
15986     97591.0
15987    121336.0
15988         NaN
15989         0.0
15990    117244.0
Name: salary, Length: 15991, dtype: float64

In [21]:
print(final_data.cholesterol_level)

0        143
1        203
2        116
3        186
4        231
        ...
15986    164
15987    304
15988    155
15989    146
15990    146
Name: cholesterol_level, Length: 15991, dtype: int64

In [22]:
# 谨慎使用
pd.options.mode.chained_assignment = None

for i in range (len(final_data.ssn)):
    if final_data.cholesterol_level[i] < 200:
        final_data.cholesterol_level[i] = "normal"
    else:
        final_data.cholesterol_level[i] = "abnormal"
        
print(final_data.cholesterol_level)

0          normal
1        abnormal
2          normal
3          normal
4        abnormal
           ...
15986      normal
15987    abnormal
15988      normal
15989      normal
15990      normal
Name: cholesterol_level, Length: 15991, dtype: object

In [23]:
print(final_data.postcode[21])

0810

In [24]:
final_data.to_csv("data.csv", index = False)

In [25]:
#Q4
import numpy as np
import pandas as pd
data = pd.read_csv("./data.csv", dtype = {'postcode':str})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15991 entries, 0 to 15990
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rec_id_x                15991 non-null  object
 1   ssn                     15991 non-null  object
 2   age_at_consultation     15991 non-null  int64
 3   medicare_number         0 non-null      float64
 4   marital_status          13919 non-null  object
 5   height                  15991 non-null  int64
 6   weight                  15991 non-null  int64
 7   bmi                     15991 non-null  int64
 8   blood_pressure          15991 non-null  int64
 9   cholesterol_level       15991 non-null  object
 10  smoking_status          15991 non-null  int64
 11  clinical_notes          15991 non-null  object
 12  consultation_timestamp  15991 non-null  object
 13  rec_id_y                15991 non-null  object
 14  current_age             15991 non-null  int64
 15  education               15991 non-null  object
 16  occupation              14645 non-null  object
 17  salary                  11176 non-null  float64
 18  credit_card_number      14645 non-null  object
 19  years_of_experience     15991 non-null  int64
 20  employment_timestamp    15991 non-null  object
 21  first_name              15991 non-null  object
 22  middle_name             14361 non-null  object
 23  last_name               15991 non-null  object
 24  gender                  15991 non-null  object
 25  birth_date              15991 non-null  object
 26  street_address          15988 non-null  object
 27  suburb                  15978 non-null  object
 28  postcode                15545 non-null  object
 29  state                   15978 non-null  object
 30  phone                   13771 non-null  object
 31  email                   13956 non-null  object
dtypes: float64(2), int64(8), object(22)
memory usage: 3.9+ MB

In [26]:
print(data.postcode[21])

0810